// COLORS

$mainColor: #04ba71;
$secondColor: #04454d;
$semiWhiteColor: #F5F2EB;
$goldenColor: #fdc827;

body{
    background: $mainColor;
    padding: 10px;
    color: $semiWhiteColor;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    cursor: pointer;
}

.header{
    margin-bottom: 15px;
    .nav{
        display: flex; 
        justify-content: space-between;


        &__list{
            display: flex;
            list-style-type: none;
            align-items: center;
            gap: 20px;
        }

            
            .users{
                list-style-type: none;
                img{
                    border-radius: 100%;
                    width: 30px;
                }
            }



            .header__nav__input{
                border-radius: 20px;
                border: none;
                padding: 10px;
                height: 40px;
                background: $secondColor;
                opacity: 0.8;
                color: $semiWhiteColor;
                position: relative;

                // &::after{
                //     content: "url('img/mirror.svg')";
                //     position: absolute;
                //     width: 30px;
                //     left: 20px;
                //     top: 15px;
                // }
            }

            .filter{
                cursor: pointer;
                background: $secondColor;
                padding: 8px 12px;
                border-radius: 50px;
                color: $semiWhiteColor;
                text-transform: uppercase;
            }


        .create__task__btn{
            text-transform: uppercase;
            padding: 14px;
            border-radius: 30px;
            font-size: 13px;
            border: none;
            background: $secondColor;
            color: $semiWhiteColor;
        }


        .settings{
            cursor: pointer;
            background: $secondColor;
            padding: 8px 12px;
            border-radius: 50px;
            color: $semiWhiteColor;
            text-transform: uppercase;
            border: none;
        }

    }
}



.board__zone{
    display: flex;
    gap: 30px;
    border: 5px solid #055c67;
    background: #03333a;
    border-radius: 24px;
    padding: 20px 10px;
}    

.board{
    width: 300px;
}


.board__head{
    padding: 10px 15px;
    border-radius: 30px;
    background: $secondColor;
    border: 2px solid $goldenColor;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.board__name{
    text-transform: uppercase;
    font-family: 'Roboto' 'Sans-Serif';
}

.task__btn{
    width: 60px;
    border-radius: 48px;
    background: $goldenColor;
    color: $mainColor;
    border: none;
    font-size: 24px;
    padding: 5px;
}

.create__task__btn{
    margin-left: 20px;
}

.delete__task__btn{
    margin-left: 10px;
}