// COLORS

$mainColor: #04ba71;
$secondColor: #04454d;
$semiWhiteColor: #F5F2EB;
$goldenColor: #fdc827;

body{
    background: $mainColor;
    padding: 10px;
    color: $semiWhiteColor;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    cursor: pointer;
    width: 120px;
    height: 50px;
    background: $secondColor;
    padding: 8px 12px;
    border-radius: 50px;
    border: none;
    color: $semiWhiteColor;
    text-transform: uppercase;

    

    &__modal{
        width: 100px;
        background: $mainColor;
        border: 2px solid #027245;
        align-self: self-end;
        border-radius: 12px;
        padding: 10px;
        color: $semiWhiteColor;
        text-transform: uppercase;

    }
}

.header{
    position: fixed;
    width: 99%;
    margin-bottom: 15px;
    .nav{
        display: flex; 
        justify-content: space-between;


        &__list{
            display: flex;
            list-style-type: none;
            align-items: center;
            gap: 20px;
        }

            
            .users{
                list-style-type: none;
            }



            .header__nav__input{
                border-radius: 20px;
                border: none;
                padding: 10px;
                height: 40px;
                background: $secondColor;
                opacity: 0.8;
                color: $semiWhiteColor;
                position: relative;

                // &::after{
                //     content: "url('img/mirror.svg')";
                //     position: absolute;
                //     width: 30px;
                //     left: 20px;
                //     top: 15px;
                // }
            }

        .create__task__btn{
            text-transform: uppercase;
            padding: 14px;
            border-radius: 30px;
            font-size: 13px;
            border: none;
            background: $secondColor;
            color: $semiWhiteColor;
        }
    }
}

.main{
    position: relative;
    margin-top: 120px;
}

.board__zone{
    display: flex;
    gap: 30px;
    border: 5px solid #055c67;
    background: #03333a;
    border-radius: 24px;
    padding: 20px 10px;
    position: absolute;
    margin-right: 20px;
}    

.standard__boards, .users__boards{
    display: flex;
    gap: 30px;
}


.board{
    width: 300px;
}


.board__head{
    padding: 10px 15px;
    border-radius: 30px;
    background: $secondColor;
    border: 2px solid $goldenColor;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.board__name{
    text-transform: uppercase;
    font-family: 'Roboto' 'Sans-Serif';
}

.task__btn{
    width: 60px;
    border-radius: 48px;
    background: $goldenColor;
    color: $mainColor;
    border: none;
    font-size: 24px;
    padding: 5px;
}

.create__task__btn{
    margin-left: 20px;
}

.delete__board__btn{
    margin-left: 10px;
}

//MODAL

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
    border-radius: 24px;
    padding: 30px;
    background: $secondColor;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 30px;

    &__input{
        border-radius: 20px;
        border: none;
        padding: 10px;
        height: 40px;
        background: #066f7d;
        opacity: 0.8;
        color: $semiWhiteColor;
    }
    display: none;
}



// USER POP-UP

.users{
    display: flex;
    gap: 10px;
    img{
        width: 40px;
        border-radius: 24px;
    }
    
}

.user__pop-up{
    display: none;
    border-radius: 24px;
    border: 2px solid $goldenColor;
    background: $secondColor;
    color: $semiWhiteColor;
    width: 250px;
    height: 80px;
    padding: 20px;
    position: absolute;
    top: 50px;
    left: -100px;
    z-index: 2;
}

.user__li{
    position: relative;
    
}

.user__li:hover > .user__pop-up{
    display: block;
}


.create-task-modal{
    height: 500px;
    width: 300px;
}
.modal__win{
    display: flex;
}



.tasks__zone{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.task-card{
    width: 290px;
    padding: 10px;
    background: $secondColor;
    border-radius: 12px;
    border: 1px solid $goldenColor;
    text-align: left;

}


.task-modal{
    display: none;
}